[submodule "third_party/python-phabricator-src"]
	path = third_party/python-phabricator-src
	url = https://github.com/Khan/python-phabricator.git
[submodule "third_party/requests-src"]
	path = third_party/requests-src
	url = https://github.com/Khan/requests.git
