# See README.md for instructions on filling in the xxxxxxx values.

hipchat_token = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

# khan-webhooks is a "System Agent" account in Phabricator created for
# this purpose.
phabricator_host = 'https://phabricator.khanacademy.org'
phabricator_username = 'khan-webhooks'
phabricator_certificate = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
