hipchat_token = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

# Create a "System Agent" account in Phabricator account admin for this purpose
phabricator_host = 'http://phabricator.khanacademy.org'
phabricator_username = 'xxxxxxxxxxxxx'
phabricator_certificate = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
